**/*.svg
**/*.ico
package.json
/dist
.DS_Store
.eslintignore
*.png
*.toml
.editorconfig
.gitignore
.prettierignore
.eslintcache
*.lock
CNAME
/dist
/build
/public
node_modules
tsconfig.json