@import 'reset';
@import 'global';
@import 'tailwind';

html,
body {
  font-family: Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#root,
body,
html {
  height: 100%;
}

img {
  display: inline-block;
}

#root {
  min-width: 1280px;
}

td {
  vertical-align: middle;
}

/*单行溢出*/
.one-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.two-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}